<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057639252288-pqkb7fr826op8ps2qhqb4hl52veq229g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057639252288-pqkb7fr826op8ps2qhqb4hl52veq229g</string>
	<key>API_KEY</key>
	<string>AIzaSyCDEof3IuLHIuyOVLns4TrP5hB7NdYP9ww</string>
	<key>GCM_SENDER_ID</key>
	<string>1057639252288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.interestopia.interestopia</string>
	<key>PROJECT_ID</key>
	<string>interestopia-389a7</string>
	<key>STORAGE_BUCKET</key>
	<string>interestopia-389a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057639252288:ios:b7be1fe9f67917d1ecfaa5</string>
	<key>DATABASE_URL</key>
	<string>https://interestopia-389a7.firebaseio.com</string>
</dict>
</plist>